


body {
  color: yellow;
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: grey;
}

.q-box {
  width: 800px;
  max-width: 75%;
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 0 10px 2px;

}

#options-btn {
  width: 800px;
  height: 800px;
}


.answer {
  width: 400px;
  height: 400px;
}